# Shared
NODE_ENV=development

# Frontend
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Backend
PORT=8080
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=

# AI Providers
GEMINI_API_KEY=
GROQ_API_KEY=

# Extension Sync
EXTENSION_SHARED_TOKEN_SECRET=
